body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;

  border-radius: 50px;
  background-color: #fff;
  padding: 30px;
}

.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(176, 193, 194);
  text-shadow: 2px 2px 2px;
  margin-bottom: 10px;
}
.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.start-btn {
  background-color: hsl(120, 100%, 50%);
}

.start-btn:hover {
  background-color: hsl(120, 100%, 45%);
}

.stop-btn {
  background-color: hsl(0, 100%, 50%);
}

.stop-btn:hover {
  background-color: hsl(0, 100%, 45%);
}
.reset-btn {
  background-color: hsl(200, 100%, 50%);
}

.reset-btn:hover {
  background-color: hsl(200, 100%, 45%);
}
